.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 64px;
  background-color: rgb(4, 4, 70);
  height: 1200px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color:chocolate;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 30px;
  font-size: 32px;
  margin-top:20px;
  margin-bottom: 20px;;
  border: 0;
  border-radius: 5px;
  width: 300px;
  background-color: chocolate;;
  text-align: center;
  
}
.waveContainer {
  text-align: center;
  
}

.songContainer {

  text-align: center;
  
}

.label {
  color: gray;
  margin-top:10px;
  margin-bottom: 10px;;
}

.waveList {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: rgb(114, 68, 9);
  font-size: 12px;
  margin-top:10px;
  margin-bottom: 10px;;
}